.nav{
        flex:1;
        display:flex;
        justify-content:space-around;
        // position:absolute;
        // bottom:0;
       
        li{
          display:flex;
          flex-direction:column;
          justify-content:center;
           height:1.333rem;
           font-size:0.56rem;
           display:flex;
           flex-direction:column;
           span{
              font-size:0.267rem;
           }
        }
    }
    